<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
</head>

<body>
    <samll style="color: white;">
        <%=alert%>
            <%=costmer%>
                <%=user%>
    </samll><br>
    <label>costmer name:<p>
            <%=user.username%>
        </p></label>
    <br>
    <label>ticketno: <p>
            <%=user.ticketno%>
        </p></label>
    <br>

    <label>movieid: <p>
            <%=costmer.movieid%>
        </p></label>
    <br>
    <label> movieName: <p>
            <%= costmer.moviename%>
        </p></label>
    <br>
    <label>language: <p>
            <%= costmer.language %>
        </p></label>
    <br>
    <!-- <label></label>
    <p>
        <%= %>
    </p><br> -->
    <label>theaterid: <p>
            <%= costmer.theaterid %>
        </p></label>
    <br>
    <label>show: <p>
            <%= user.showid%>
        </p></label>
    <br>

    <label>seatno: <p id="no"></p></label><br>

    <label>price: <p>
            <%= user.price%>
        </p></label>
    <br>
</body>
<script>
    let upper = '<%-costmer.upperclass%>';
    let lower = '<%-costmer.lowerclass%>';
    let seatno = '<%-user.seatno%>';
    if (upper == seatno) {
        document.getElementById('no').innerHTML = "upperclass:" + seatno;
    } else if (lower == seatno) {
        document.getElementById('no').innerHTML = "lowerclass:" + seatno;
    } 
</script>

</html>